.dropdownBox {
    border: 1px solid #00aad8;
    border-radius: 0px;
    color: #00aad8;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: auto;
    font-size: 13px;
}

.custom-select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%2300aad8' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
}


.formButton {
    background-color: #00aad8;
    border: 1px solid #00aad8;
    border-radius: 0px;
    width: 80px;
    font-size: 13px;
}

.swimTable {
    font-size: 0.8rem !important;
}

.colBorder {
    border: solid 1px #f0f0f0;
    border-radius: 20px;
}

.headingColor {
    color: #00aad8;
}

.form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}