.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#footer {
  position: inherit;
  font-size: 0.8rem;
  bottom: 0;
  height: 30px;
  width: 98%;
}

.bigTitle {
  color: #00aad8;
  font-weight: bold;
  text-transform: uppercase;
}

.formTitle {
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, .7) !important;
}

.navbar-toggler {
  border-color: transparent !important;
  /* Removes border color */
  float: left;
  /* Move navbar toggle to left */
}